<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>46532743976-03tm0tnd8ppcgvhbj1kc7mkguvmc8j67.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.46532743976-03tm0tnd8ppcgvhbj1kc7mkguvmc8j67</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>46532743976-dkevu6vsvo7k83vsa3a4rt9v398nl9or.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAyy4IEDucRO8cyfKPd-zbP8WOKFuPjJuQ</string>
	<key>GCM_SENDER_ID</key>
	<string>46532743976</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.diem.Hired</string>
	<key>PROJECT_ID</key>
	<string>reactnativelogin-82694</string>
	<key>STORAGE_BUCKET</key>
	<string>reactnativelogin-82694.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:46532743976:ios:4ebaf2cde7ede8e516361d</string>
</dict>
</plist>